# Python String Methods

In [10]:
# first_name = "Muhammad Qasim"
# last_name = "Iqbal"

## capitalize() -- Converts the first character to upper case

In [11]:
first_name = "muhammad qasim"
last_name = "iqbal"

capitalize_first_name = first_name.capitalize()
capitalize_last_name = last_name.capitalize()

print(f"First Name Capitalized = \n{capitalize_first_name}\n")
print(f"Last Name Capitalized =  \n{capitalize_last_name}")

First Name Capitalized =
Muhammad qasim

Last Name Capitalized =
Iqbal

## casefold() -- Converts string into lower case

In [13]:
first_name = "MUHAMMAD QASIM"
last_name = "IQBAL"

casefold_first_name = first_name.casefold()
casefold_last_name = last_name.casefold()

print(f"First Name Casefolded = \n{casefold_first_name}\n")
print(f"Last Name Casefolded =  \n{casefold_last_name}")

First Name Casefolded =
muhammad qasim

Last Name Casefolded =
iqbal

## center() -- Returns a centered string

#### center() -- Return a centered string in total length provided

In [37]:
first_name = "MUHAMMAD QASIM"
last_name = "IQBAL"

center_first_name = first_name.center(20)
center_last_name = last_name.center(15)

print(f"First Name Centered = \n{center_first_name}\n")
print(f"Last Name Centered =  \n{center_last_name}")

First Name Centered =
   MUHAMMAD QASIM

Last Name Centered =
     IQBAL

#### center() -- Return a centered string in total length provided and replaces white space with provided one character

In [28]:
first_name = "MUHAMMAD QASIM"
last_name = "IQBAL"

center_first_name = first_name.center(20, "+")
center_last_name = last_name.center(15, "-")

print(f"First Name Centered with WhiteSpace as + = \n{center_first_name}\n")
print(f"Last Name Centered with WhiteSpace as - =  \n{center_last_name}")

First Name Centered with WhiteSpace as + =
+++MUHAMMAD QASIM+++

Last Name Centered with WhiteSpace as - =
-----IQBAL-----

## count() -- Returns the number of times a specified value occurs in a string

#### count() -- Return the number of times a specified value occurs in a string

In [32]:
var_sentence = "I love mangoes, mango are my favorite fruit"

word_count = var_sentence.count('mango')

print(f"Word Count 'mango' =  \n{word_count}")

Word Count 'mango' =
2

#### count() -- Return the number of times a specified value occurs in a string with start and end argument

In [38]:
var_sentence = "I love mangoes, mango are my favorite fruit"

word_count = var_sentence.count("mango", 10, 24)

print(f"Word Count 'mango' =  \n{word_count}")

Word Count 'mango' =
1

## encode() -- Returns an encoded version of the string

#### encode() -- Return an encoded version of the string

In [40]:
first_name = "Muhammad Qåsim"
last_name = "Iqbal"

encode_first_name = first_name.encode()
encode_last_name = last_name.encode()

print(f"First Name Encoded = \n{encode_first_name}\n")
print(f"Last Name Encoded =  \n{encode_last_name}")

First Name Encoded =
b'Muhammad Q\xc3\xa5sim'

Last Name Encoded =
b'Iqbal'

#### encode() -- Return an encoded version of the string with encoding and errors arguments --> Default Encoding= 'utf-8', errors= 'strict'

In [49]:
var_intro = "My Name is Muhammad Qåsim Iqbal"

print(var_intro.encode(encoding="ascii",errors="backslashreplace"),'\n')

print(var_intro.encode(encoding="ascii",errors="ignore"),'\n')

print(var_intro.encode(encoding="ascii",errors="namereplace"),'\n')

print(var_intro.encode(encoding="ascii",errors="replace"),'\n')

print(var_intro.encode(encoding="ascii",errors="xmlcharrefreplace"),'\n')

b'My Name is Muhammad Q\\xe5sim Iqbal'

b'My Name is Muhammad Qsim Iqbal'

b'My Name is Muhammad Q\\N{LATIN SMALL LETTER A WITH RING ABOVE}sim Iqbal'

b'My Name is Muhammad Q?sim Iqbal'

b'My Name is Muhammad Q&#229;sim Iqbal'

## endswith() -- Returns true if the string ends with the specified value

#### endswith() -- Returns true if the string ends with the specified value

In [1]:
var = "Hello, welcome to my world."

var_endswith = var.endswith(".")

print(f"Sentence Ends with '.' : {var_endswith}")

Sentence Ends with '.' : True

#### endswith() -- Returns true if the string ends with the specified value and position start, end

In [3]:
var = "Hello, welcome to my world."

var_endswith = var.endswith("my world.", 5, 11)

print(f"Sentence Ends with '.' : {var_endswith}")

Sentence Ends with '.' : False

## expandtabs() --	Sets the tab size of the string

In [7]:
var = "H\te\tl\tl\to"

print(f"Plain Variable \n{var}\n")
print(f"Expand Tabs Variable with No Size \n{var.expandtabs()}\n")
print(f"Expand Tabs Variable with Size 2 \n{var.expandtabs(2)}\n")
print(f"Expand Tabs Variable with Size 4 \n{var.expandtabs(4)}\n")
print(f"Expand Tabs Variable with Size 10 \n{var.expandtabs(10)}\n")

Plain Variable
H	e	l	l	o

Expand Tabs Variable with No Size
H       e       l       l       o

Expand Tabs Variable with Size 2
H e l l o

Expand Tabs Variable with Size 4
H   e   l   l   o

Expand Tabs Variable with Size 10
H         e         l         l         o

## find() -- Searches the string for a specified value and returns the position of where it was found

#### find() -- Searches the string for a specified value and returns the position(index) of where it was found

In [8]:
var = "Hello, welcome to my world."

var_find = var.find("welcome")

print(f"Word 'welcome' found at : {var_find}")

Word 'welcome' found at : 7

#### find() -- Searches the string for a specified value and returns the position(index) of where it was found with position argument start,end

In [10]:
var = "Hello, welcome to my world."

var_find = var.find("e", 5, 10)

print(f"Word found at : {var_find}")

Word found at : 8

##### find() -- If the value is not found, the find() method returns -1, but the index() method will raise an exception

In [32]:
var = "Hello, welcome to my world."

print(f"Word Position with Find \n{var.find('q')}\n")

#Index Method gives error if nothing found:

print(f"Word Position with Index \n{var.index('q')}")

Word Position with Find
-1

ValueError: substring not found

## format() -- Formats specified values in a string

#### format() -- Formats specified values in a string within
--The values in placeholder are defined using curly brackets: {}

In [27]:
var_1 = "For only {price:.2f} dollars!"

print(f"{var_1}")
print(f"{var_1.format(price = 49)}")

For only {price:.2f} dollars!
For only 49.00 dollars!

In [28]:
var_1 = "My name is {fname}, I'm {age}".format(fname = "Qasim", age = 25)

var_2 = "My name is {0}, I'm {1}".format("Qasim",25)

var_3 = "My name is {}, I'm {}".format("Qasim",25)

print(f"{var_1}\n")
print(f"{var_2}\n")
print(f"{var_3}")

My name is Qasim, I'm 25

My name is Qasim, I'm 25

My name is Qasim, I'm 25

#### Formatting Types -- Inside the placeholders you can add a formatting type to format the result:

{:<}	-->	Left aligns the result (within the available space)
{:>}	-->	Right aligns the result (within the available space)
{:^}	-->	Center aligns the result (within the available space)
{:=}	-->	Places the sign to the left most position
{:+}	-->	Use a plus sign to indicate if the result is positive or negative
{:-}	-->	Use a minus sign for negative values only
{: }	-->	Use a space to insert an extra space before positive numbers (and a minus sign before negative numbers)
{:,}	-->	Use a comma as a thousand separator
{:_}	-->	Use a underscore as a thousand separator
{:b}	-->	Binary format
{:c}	-->	Converts the value into the corresponding unicode character
{:d}	-->	Decimal format
{:e}	-->	Scientific format, with a lower case e
{:E}	-->	Scientific format, with an upper case E
{:f}	-->	Fix point number format
{:F}	-->	Fix point number format, in uppercase format (show inf and nan as INF and NAN)
{:g}	-->	General format
{:G}	-->	General format (using a upper case E for scientific notations)
{:o}	-->	Octal format
{:x}	-->	Hex format, lower case
{:X}	-->	Hex format, upper case
{:n}	-->	Number format
{:%}	-->	Percentage format

In [1]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "<" to left-align the value:

txt = "We have {:<8} chickens."
print(txt.format(49))

We have 49       chickens.

In [2]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use ">" to right-align the value:

txt = "We have {:>8} chickens."
print(txt.format(49))

We have       49 chickens.

In [3]:
#To demonstrate, we insert the number 8 to set the available space for the value to 8 characters.

#Use "^" to center-align the value:

txt = "We have {:^8} chickens."
print(txt.format(49))

We have    49    chickens.

In [4]:
#To demonstrate, we insert the number 8 to specify the available space for the value.

#Use "=" to place the plus/minus sign at the left most position:

txt = "The temperature is {:=8} degrees celsius."

print(txt.format(-5))

The temperature is -      5 degrees celsius.

In [5]:
#Use "+" to always indicate if the number is positive or negative:

txt = "The temperature is between {:+} and {:+} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and +7 degrees celsius.

In [6]:
#Use "-" to always indicate if the number is negative (positive numbers are displayed without any sign):

txt = "The temperature is between {:-} and {:-} degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and 7 degrees celsius.

In [7]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:

txt = "The temperature is between {: } and {: } degrees celsius."

print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [8]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [9]:
#Use "_" to add a underscore character as a thousand separator:

txt = "The universe is {:_} years old."

print(txt.format(13800000000))

The universe is 13_800_000_000 years old.

In [10]:
#Use "b" to convert the number into binary format:

txt = "The binary version of {0} is {0:b}"

print(txt.format(5))

The binary version of 5 is 101

In [12]:
#Use "c" to convert the number into the corresponding unicode character:

txt = "The unicode character of {0} is {1:c}"

print(txt.format(115,115))

The unicode character of 115 is s

In [13]:
#Use "d" to convert a number, in this case a binary number, into decimal number format:

txt = "We have {:d} chickens."
print(txt.format(0b101))

We have 5 chickens.

In [14]:
#Use "e" to convert a number into scientific number format (with a lower-case e):

txt = "We have {:e} chickens."
print(txt.format(5))

We have 5.000000e+00 chickens.

In [15]:
#Use "E" to convert a number into scientific number format (with an upper-case E):

txt = "We have {:E} chickens."
print(txt.format(5))

We have 5.000000E+00 chickens.

In [22]:
#Use "f" to convert a number into a fixed point number, default with 6 decimals,
#but use a period followed by a number to specify the number of decimals:

txt = "The price is {:.2f} dollars."
print(txt.format(45))

#without the ".2" inside the placeholder, this number will be displayed like this:

txt = "The price is {:f} dollars."
print(txt.format(45))

The price is 45.00 dollars.
The price is 45.000000 dollars.

In [17]:
#Use "F" to convert a number into a fixed point number, but display inf and nan as INF and NAN:

x = float('inf')

txt = "The price is {:F} dollars."
print(txt.format(x))

#same example, but with a lower case f:

txt = "The price is {:f} dollars."
print(txt.format(x))

The price is INF dollars.
The price is inf dollars.

In [18]:
#Use "g" for General format(Scientific Number Format):

txt = "The price is {:g} dollars."
print(txt.format(4500000000000000))

#Use "G" for General format (using a upper case E for scientific notations):

txt = "The price is {:G} dollars."
print(txt.format(4500000000000000))

The price is 4.5e+15 dollars.
The price is 4.5E+15 dollars.

In [19]:
#Use "o" to convert the number into octal format:

txt = "The octal version of {0} is {0:o}"

print(txt.format(10))

The octal version of 10 is 12

In [21]:
#Use "x" to convert the number into Hex format:

txt = "The Hexadecimal version of {0} is {0:x}"

print(txt.format(255))

#Use "X" to convert the number into upper-case Hex format:

txt = "The Hexadecimal version of {0} is {0:X}"

print(txt.format(50))

The Hexadecimal version of 255 is ff
The Hexadecimal version of 50 is 32

In [25]:
#Use "n" Number format:

txt = "You scored {:n} marks."
print(txt.format(75))

You scored 75 marks.

In [26]:
#Use "%" to convert the number into a percentage format:

txt = "You scored {:%}"
print(txt.format(0.25))

#Or, without any decimals:

txt = "You scored {:.0%}"
print(txt.format(0.25))

You scored 25.000000%
You scored 25%

## format_map() -- Formats specified values in a string

In [38]:
# input stored in variable a.
a = {'x':'John', 'y':'Wick'}

# Use of format_map() function
print("{x}'s last name is {y}".format_map(a))

John's last name is Wick

## index() -- Searches the string for a specified value and returns the position of where it was found

In [39]:
var = "Hello, welcome to my world."

var_index = var.index('m')

print(f"Index of the Substring is : {var_index}")

Index of the Substring is : 12

In [44]:
var = "Hello, welcome to my world."

var_index = var.index('m', 15, 20)

print(f"Index of the Substring Between 15 and 20 is : {var_index}")

Index of the Substring Between 15 and 20 is : 18

## isalnum() -- Returns True if all characters in the string are alphanumeric

In [48]:
txt = "Company12"

x = txt.isalnum()

print(x)

True

In [47]:
txt = "Company 12"

x = txt.isalnum()

print(x)

False

## isalpha() -- Returns True if all characters in the string are in the alphabet

In [49]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [50]:
txt = "Company10"

x = txt.isalpha()

print(x)

False

## isascii() -- Returns True if all characters in the string are ascii characters

In [55]:
txt = "Company!@#123^"

# ascii = American Standard Code for Information Interchange
# ascii all reference = https://www.w3schools.com/charsets/ref_html_ascii.asp

x = txt.isascii()

print(x)

True

## isdecimal() -- Returns True if all characters in the string are decimals

In [56]:
txt = "1234"

x = txt.isdecimal()

print(x)

True

In [57]:
a = "\u0030" #unicode for 0
b = "\u0047" #unicode for G

print(a.isdecimal())
print(b.isdecimal())

True
False

## isdigit() -- Returns True if all characters in the string are digits

In [58]:
txt = "50800"

x = txt.isdigit()

print(x)

True

In [59]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for ²

print(a.isdigit())
print(b.isdigit())

True
True

## isidentifier() -- Returns True if the string is an identifier

In [60]:
txt = "Demo"

x = txt.isidentifier()

print(x)

True

In [61]:
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "my demo"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
False

## islower() -- Returns True if all characters in the string are lower case

In [62]:
txt = "hello world!"

x = txt.islower()

print(x)

True

In [63]:
a = "Hello world!"
b = "hello 123"
c = "mynameisPeter"

print(a.islower())
print(b.islower())
print(c.islower())

False
True
False

## isnumeric() -- Returns True if all characters in the string are numeric

In [64]:
txt = "565543"

x = txt.isnumeric()

print(x)

True

In [68]:
a = "\u0030" #unicode for 0
b = "\u00B2" #unicode for &sup2;
c = "10km2"
d = "-1"
e = "1.5"

print(a.isnumeric())
print(b.isnumeric())
print(c.isnumeric())
print(d.isnumeric())
print(e.isnumeric())

True
True
False
False
False

## isprintable() -- Returns True if all characters in the string are printable

In [69]:
txt = "Hello! Are you #1?"

x = txt.isprintable()

print(x)

True

In [70]:
txt = "Hello!\nAre you #1?"

x = txt.isprintable()

print(x)

False

## isspace() -- Returns True if all characters in the string are whitespaces

In [71]:
txt = "   "

x = txt.isspace()

print(x)

True

In [72]:
txt = "   s   "

x = txt.isspace()

print(x)

False

## istitle() -- Returns True if the string follows the rules of a title

In [73]:
txt = "Hello, And Welcome To My World!"

x = txt.istitle()

print(x)

True

In [74]:
a = "HELLO, AND WELCOME TO MY WORLD"
b = "Hello"
c = "22 Names"
d = "This Is %'!?"

print(a.istitle())
print(b.istitle())
print(c.istitle())
print(d.istitle())

False
True
True
True

## isupper() -- Returns True if all characters in the string are upper case

In [75]:
txt = "THIS IS NOW!"

x = txt.isupper()

print(x)

True

In [76]:
a = "Hello World!"
b = "hello 123"
c = "MY NAME IS PETER"

print(a.isupper())
print(b.isupper())
print(c.isupper())

False
False
True

## join() -- Converts the elements of an iterable into a string

In [77]:
myTuple = ("John", "Peter", "Vicky")

x = "#".join(myTuple)

print(x)

John#Peter#Vicky

In [82]:
myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

x = mySeparator.join(myDict)

print(x)

nameTESTcountry

## ljust() -- Returns a left justified version of the string

In [83]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [84]:
txt = "banana"

x = txt.ljust(20, "O")

print(x)

bananaOOOOOOOOOOOOOO

## lower() -- Converts a string into lower case

In [86]:
txt = "Hello my FRIENDS"

x = txt.lower()

print(x)

hello my friends

## lstrip() -- Returns a left trim version of the string

In [87]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [88]:
txt = ",,,,,ssaaww.....banana"

x = txt.lstrip(",.asw")

print(x)

banana

## maketrans() -- Returns a translation table to be used in translations

In [89]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [90]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [91]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [92]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
print(str.maketrans(x, y, z))

{109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}

## partition() -- Returns a tuple where the string is parted into three parts

In [93]:
txt = "I could eat bananas all day"

x = txt.partition("bananas")

print(x)

('I could eat ', 'bananas', ' all day')

In [94]:
txt = "I could eat bananas all day"

x = txt.partition("apples")

print(x)

('I could eat bananas all day', '', '')

## replace() -- Returns a string where a specified value is replaced with a specified value

In [95]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [96]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three")

print(x)

three three was a race horse, two two was three too.

In [97]:
txt = "one one was a race horse, two two was one too."

x = txt.replace("one", "three", 2)

print(x)

three three was a race horse, two two was one too.

## rfind() -- Searches the string for a specified value and returns the last position of where it was found

In [98]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [99]:
txt = "Hello, welcome to my world."

x = txt.rfind("e")

print(x)

13

In [100]:
txt = "Hello, welcome to my world."

x = txt.rfind("e", 5, 10)

print(x)

8

In [103]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))

# rindex gives error it not found
print(txt.rindex("q"))

-1

ValueError: substring not found

## rindex() -- Searches the string for a specified value and returns the last position of where it was found

In [104]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [105]:
txt = "Hello, welcome to my world."

x = txt.rindex("e")

print(x)

13

In [106]:
txt = "Hello, welcome to my world."

x = txt.rindex("e", 5, 10)

print(x)

8

In [107]:
txt = "Hello, welcome to my world."

print(txt.rfind("q"))
print(txt.rindex("q"))

-1

ValueError: substring not found

## rjust() -- Returns a right justified version of the string

In [108]:
txt = "banana"

x = txt.rjust(20)

print(x, "is my favorite fruit.")

              banana is my favorite fruit.

In [109]:
txt = "banana"

x = txt.rjust(20, "O")

print(x)

OOOOOOOOOOOOOObanana

## rpartition() -- Returns a tuple where the string is parted into three parts

In [110]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [111]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("apples")

print(x)

('', '', 'I could eat bananas all day, bananas are my favorite fruit')

## rsplit() -- Splits the string at the specified separator, and returns a list

In [112]:
txt = "apple, banana, cherry"

x = txt.rsplit(", ")

print(x)

['apple', 'banana', 'cherry']

In [113]:
txt = "apple, banana, cherry"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.rsplit(", ", 1)

print(x)

['apple, banana', 'cherry']

## rstrip() -- Returns a right trim version of the string

In [114]:
txt = "     banana     "

x = txt.rstrip()

print("of all fruits", x, "is my favorite")

of all fruits      banana is my favorite

In [115]:
txt = "banana,,,,,ssqqqww....."

x = txt.rstrip(",.qsw")

print(x)

banana

## split() -- Splits the string at the specified separator, and returns a list

In [116]:
txt = "welcome to the jungle"

x = txt.split()

print(x)

['welcome', 'to', 'the', 'jungle']

In [117]:
txt = "hello, my name is Peter, I am 26 years old"

x = txt.split(", ")

print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [118]:
txt = "apple#banana#cherry#orange"

x = txt.split("#")

print(x)

['apple', 'banana', 'cherry', 'orange']

In [119]:
txt = "apple#banana#cherry#orange"

# setting the maxsplit parameter to 1, will return a list with 2 elements!
x = txt.split("#", 1)

print(x)

['apple', 'banana#cherry#orange']

## splitlines() -- Splits the string at line breaks and returns a list

In [120]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines()

print(x)

['Thank you for the music', 'Welcome to the jungle']

In [121]:
txt = "Thank you for the music\nWelcome to the jungle"

x = txt.splitlines(True)

print(x)

['Thank you for the music\n', 'Welcome to the jungle']

## startswith() -- Returns true if the string starts with the specified value

In [122]:
txt = "Hello, welcome to my world."

x = txt.startswith("Hello")

print(x)

True

In [125]:
txt = "Hello, welcome to my world."

x = txt.startswith("wel", 7, 20)

print(x)

True

## strip() -- Returns a trimmed version of the string

In [126]:
txt = "     banana     "

x = txt.strip()

print("of all fruits", x, "is my favorite")

of all fruits banana is my favorite

In [127]:
txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

## swapcase() -- Swaps cases, lower case becomes upper case and vice versa

In [128]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

## title() -- Converts the first character of each word to upper case

In [129]:
txt = "Welcome to my world"

x = txt.title()

print(x)

Welcome To My World

In [130]:
txt = "Welcome to my 2nd world"

x = txt.title()

print(x)

Welcome To My 2Nd World

In [131]:
txt = "hello b2b2b2 and 3g3g3g"

x = txt.title()

print(x)

Hello B2B2B2 And 3G3G3G

## translate() -- Returns a translated string

In [132]:
#use a dictionary with ascii codes to replace 83 (S) with 80 (P):
mydict = {83:  80}
txt = "Hello Sam!"
print(txt.translate(mydict))

Hello Pam!

#### With Mapping Table -- maketrans()

In [133]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [134]:
txt = "Hi Sam!"
x = "mSa"
y = "eJo"
mytable = str.maketrans(x, y)
print(txt.translate(mytable))

Hi Joe!

In [135]:
txt = "Good night Sam!"
x = "mSa"
y = "eJo"
z = "odnght"
mytable = str.maketrans(x, y, z)
print(txt.translate(mytable))

G i Joe!

In [136]:
# Without Mapping Table -- maketrans
txt = "Good night Sam!"
mydict = {109: 101, 83: 74, 97: 111, 111: None, 100: None, 110: None, 103: None, 104: None, 116: None}
print(txt.translate(mydict))

G i Joe!

## upper() -- Converts a string into upper case

In [137]:
txt = "Hello my friends"

x = txt.upper()

print(x)

HELLO MY FRIENDS

## zfill() -- Fills the string with a specified number of 0 values at the beginning

In [138]:
txt = "50"

x = txt.zfill(10)

print(x)

0000000050

In [139]:
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000