# Python Set Methods

## add() Shortcut = ( None ) Adds an element to the set

In [4]:
# Add an element to the fruits set:

thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [3]:
# Try to add an element that already exists:

thisset = {"apple", "banana", "cherry"}

thisset.add("apple")

print(thisset)

{'cherry', 'banana', 'apple'}

## clear() Shortcut = ( None ) Removes all the elements from the set

In [5]:
# Remove all elements from the fruits set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

## copy() Shortcut = ( None ) Returns a copy of the set

In [6]:
# Copy the fruits set:

fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'cherry', 'banana', 'apple'}

## difference() Shortcut = ( - ) Returns a set containing the difference between two or more sets

In [7]:
# Return a set that contains the items that only exist in set x, and not in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

In [9]:
# Use - as a shortcut instead of difference()

a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

myset = a - b

print(myset)

{'banana', 'cherry'}

In [10]:
# Join more than two sets:

a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a.difference(b, c)

print(myset)

{'banana'}

In [11]:
# Join more than two sets with the - operator:

a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

myset = a - b - c

print(myset)

{'banana'}

In [12]:
# Reverse the example on the top. Return a set that contains the items that only exist in set y, and not in set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = y.difference(x)

print(z)

{'microsoft', 'google'}

## difference_update() Shortcut = ( -= ) Removes the items in this set that are also included in another, specified set

In [13]:
# Remove the items that exist in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [14]:
# Use -= as a shortcut instead of difference_update():

a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}

a -= b

print(a)

{'cherry', 'banana'}

In [15]:
# Join more than two sets:

a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a.difference_update(b, c)

print(a)

{'banana'}

In [16]:
# Join more than two sets with the -= operator:

a = {"apple", "banana", "cherry"}
b = {"google", "microsoft", "apple"}
c = {"cherry", "micra", "bluebird"}

a -= b | c

print(myset)

{'banana'}

## discard() Shortcut = ( None ) Remove the specified item

In [17]:
# Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

## intersection() Shortcut = ( & ) Returns a set, that is the intersection of two other sets

In [18]:
# Return a set that contains the items that exist in both set x, and set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

In [19]:
# Use & as a shortcut instead of intersection():

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x & y

print(z)

{'apple'}

In [20]:
# Join 3 sets, and return a set with items that is present in all 3 sets:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

In [21]:
# Join 3 sets with the & operator:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x & y & z

print(result)

{'c'}

## intersection_update() Shortcut = ( &= ) Removes the items in this set that are not present in other, specified set(s)

In [22]:
# Remove the items that is not present in both x and y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [23]:
# Use &= as a shortcut instead of intersection_update():

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x &= y

print(x)

{'apple'}

In [24]:
# Compare 3 sets, and return a set with items that is present in all 3 sets:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x.intersection_update(y, z)

print(x)

{'c'}

In [25]:
# in 3 sets with the &= operator:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

x &= y & z

print(result)

{'c'}

## isdisjoint() Shortcut = ( None ) Returns whether two sets have a intersection or not

In [26]:
# Return True if no items in set x is present in set y:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

In [27]:
# What if no items are present in both sets?

# Return False if one or more items are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.isdisjoint(y)

print(z)

False

## issubset() Shortcut = ( <= ) Returns whether another set contains this set or not
                                ( < ) Returns whether all items in this set is present in other, specified set(s)

In [28]:
# Return True if all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [29]:
# Use <= as a shortcut instead of issubset():

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x <= y

print(z)

True

In [30]:
# What if not all items are present in the specified set?

# Return False if not all items in set x are present in set y:

x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

## issuperset() Shortcut = ( >= ) Returns whether this set contains another set or not
                                ( > ) Returns whether all items in other, specified set(s) is present in this set

In [31]:
# Return True if all items set y are present in set x:

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [32]:
# Use >= as a shortcut instead of issuperset():

x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x >= y

print(z)

True

In [33]:
# What if not all items are present in the specified set?

# Return False if not all items in set y are present in set x:

x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

## pop() Shortcut = ( None ) Removes an element from the set

In [36]:
# Remove a random item from the set:

fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'apple'}

In [37]:
# Return the removed element:

fruits = {"apple", "banana", "cherry"}

x = fruits.pop()

print(x)

cherry

## remove() Shortcut = ( None ) Removes the specified element

In [38]:
# Remove "banana" from the set:

fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

## symmetric_difference() Shortcut = ( ^ ) Returns a set with the symmetric differences of two sets

In [39]:
# Return a set that contains all items from both sets, except items that are present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'microsoft', 'google', 'cherry'}

In [40]:
# Use ^ as a shortcut instead of symmetric_difference():

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x ^ y

print(z)

{'banana', 'microsoft', 'google', 'cherry'}

## symmetric_difference_update() Shortcut = ( ^= ) Inserts the symmetric differences from this set and another

In [41]:
# Remove the items that are present in both sets, AND insert the items that is not present in both sets:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'microsoft', 'google', 'cherry'}

In [42]:
# Use ^= as a shortcut instead of symmetric_difference_update():

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x ^= y

print(x)

{'banana', 'microsoft', 'google', 'cherry'}

## union() Shortcut = ( | ) Return a set containing the union of sets

In [43]:
# Return a set that contains all items from both sets, duplicates are excluded:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'banana', 'apple', 'microsoft', 'google', 'cherry'}

In [44]:
# Use | as a shortcut instead of union():

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x | y

print(z)

{'banana', 'apple', 'microsoft', 'google', 'cherry'}

In [45]:
# Unify more than 2 sets:

x = {"a", "b", "c"}
y = {"f", "d", "a"}
z = {"c", "d", "e"}

result = x.union(y, z)

print(result)

{'e', 'd', 'a', 'f', 'c', 'b'}

In [46]:
# Unify 3 sets with the | operator:

x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x | y | z

print(result)

{'e', 'd', 'a', 'f', 'c', 'g', 'b'}

## update() Shortcut = ( |= ) Update the set with the union of this set and others

In [48]:
# Insert the items from set y into set x:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'banana', 'apple', 'microsoft', 'google', 'cherry'}

In [49]:
# Use |= as a shortcut instead of update():

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x |= y

print(x)

{'banana', 'apple', 'microsoft', 'google', 'cherry'}

In [50]:
# Insert more than one set:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"cherry", "micra", "bluebird"}

x.update(y, z)

print(x)

{'banana', 'apple', 'bluebird', 'micra', 'microsoft', 'google', 'cherry'}

In [51]:
# Join more than one set with the |= operator:

x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = {"cherry", "micra", "bluebird"}

x |= b | c

print(x)

{'banana', 'apple', 'micra', 'microsoft', 'google', 'bluebird', 'cherry'}