# Python List/Array Methods

## append() -- Adds an element at the end of the list

In [1]:
# Add an element to the fruits list:

fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")

print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [2]:
# Add a list to a list:

a = ["apple", "banana", "cherry"]
b = ["Ford", "BMW", "Volvo"]
a.append(b)

print(a)

['apple', 'banana', 'cherry', ['Ford', 'BMW', 'Volvo']]

## clear() -- Removes all the elements from the list

In [3]:
# Remove all elements from the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

fruits.clear()

print(fruits)

[]

## copy() -- Returns a copy of the list

In [5]:
# Copy the fruits list:

fruits = ['apple', 'banana', 'cherry', 'orange']

x = fruits.copy()

print(x)

['apple', 'banana', 'cherry', 'orange']

## count() -- Returns the number of elements with the specified value

In [6]:
# Return the number of times the value "cherry" appears in the fruits list:

fruits = ['apple', 'banana', 'cherry']

x = fruits.count("cherry")

print(x)

1

In [7]:
# Return the number of times the value 9 appears int the list:

points = [1, 4, 2, 9, 7, 8, 9, 3, 1]

x = points.count(9)

print(x)

2

## extend() -- Add the elements of a list (or any iterable), to the end of the current list

In [8]:
# Add the elements of cars to the fruits list:

fruits = ['apple', 'banana', 'cherry']

cars = ['Ford', 'BMW', 'Volvo']

fruits.extend(cars)

print(fruits)

['apple', 'banana', 'cherry', 'Ford', 'BMW', 'Volvo']

In [9]:
# Add a tuple to the fruits list:

fruits = ['apple', 'banana', 'cherry']

points = (1, 4, 5, 9)

fruits.extend(points)

print(fruits)

['apple', 'banana', 'cherry', 1, 4, 5, 9]

## index() -- Returns the index of the first element with the specified value

In [10]:
# What is the position of the value "cherry":

fruits = ['apple', 'banana', 'cherry']

x = fruits.index("cherry")

print(x)

2

In [11]:
# What is the position of the value 32:

fruits = [4, 55, 64, 32, 16, 32]

x = fruits.index(32)

print(x)

3

## insert() -- Adds an element at the specified position

In [12]:
# Insert the value "orange" as the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.insert(1, "orange")

print(fruits)

['apple', 'orange', 'banana', 'cherry']

## pop() -- Removes the element at the specified position

In [13]:
# Remove the second element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.pop(1)

print(fruits)

['apple', 'cherry']

In [14]:
# Return the removed element:

fruits = ['apple', 'banana', 'cherry']

x = fruits.pop(1)

print(x)

banana

## remove() -- Removes the first item with the specified value

In [15]:
# Remove the "banana" element of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.remove("banana")

print(fruits)

['apple', 'cherry']

## reverse() -- Reverses the order of the list

In [16]:
# Reverse the order of the fruit list:

fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

print(fruits)

['cherry', 'banana', 'apple']

## sort() -- Sorts the list

In [17]:
# Sort the list alphabetically:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort()

print(cars)

['BMW', 'Ford', 'Volvo']

In [18]:
# Sort the list descending:

cars = ['Ford', 'BMW', 'Volvo']

cars.sort(reverse=True)

print(cars)

['Volvo', 'Ford', 'BMW']

In [19]:
# Sort the list by the length of the values:

# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(key=myFunc)

print(cars)

['VW', 'BMW', 'Ford', 'Mitsubishi']

In [20]:
# Sort a list of dictionaries based on the "year" value of the dictionaries:

# A function that returns the 'year' value:
def myFunc(e):
  return e['year']

cars = [
  {'car': 'Ford', 'year': 2005},
  {'car': 'Mitsubishi', 'year': 2000},
  {'car': 'BMW', 'year': 2019},
  {'car': 'VW', 'year': 2011}
]

cars.sort(key=myFunc)

print(cars)

[{'car': 'Mitsubishi', 'year': 2000}, {'car': 'Ford', 'year': 2005}, {'car': 'VW', 'year': 2011}, {'car': 'BMW', 'year': 2019}]

In [21]:
# Sort the list by the length of the values and reversed:

# A function that returns the length of the value:
def myFunc(e):
  return len(e)

cars = ['Ford', 'Mitsubishi', 'BMW', 'VW']

cars.sort(reverse=True, key=myFunc)

print(cars)

['Mitsubishi', 'Ford', 'BMW', 'VW']